name: Validate

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  validate-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Validate JSON files by schema
        uses: cardinalby/schema-validator-action@v3
        with:
          file: "*.json"
          schema: schema/schema.json
